<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Reconciliation Tree Project</name>

  <description>
     AR app created for the Reconciliation Tree Project for the University of Lethbridge. This app was created as part of the NMED 3850B class, March 2020.
  </description>

  <author>
      Daylend De Grasse, Jorinda Becker, Kelsey Dellosa, Kaleigh Watson, Evan Clark
  </author>

    <platform name="android">
        
     <plugin name="cordova-plugin-file" source="npm" spec="~4.3.3"/>
     
        
    <splash density="mountains" src="/www/imgs/home.png"/>
    
</widget>
