body {
	overflow: scroll;
	margin: 0 auto;
}

/*
.preloaders {
	align-items: center;
	background: rgb(23, 22, 22);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed !important;
	top: 0;
	transition: opacity 0.3s linear;
	width: 100%;
	z-index: 9999;
}
*/

.logo {
	width: 65%;
	margin: 0 auto;
	margin-top: 12.5em;
	display: flex;
	justify-content: center;
	text-align: center;
}

/*FLIP CARDS*/
.homepage-content,
.page1-content,
.page2-content,
.page3-content,
.page4-content,
.page5-content,
.page6-content,
.page7-content,
.page8-content,
.page9-content {
	overflow: scroll;
	position: fixed;
	width: auto;
	max-width: 100%;
	height: 100%;
	background-size: cover;

}

.homepage-content {
	/*    background-image: url("../imgs/home.png");*/
	background-image: url("../imgs/home3.png");


}

.page1-content, .page3-content, .page5-content, .page7-content {
	background-image: url("../imgs/bf-bg.png");
}

.page2-content {
	background-image: url("../imgs/eng-bg.png");
	position: fixed;
}

.page9-content {
	/*
    background-image: url("/www/imgs/bison.png");
    position: fixed; 
*/
	background-color: antiquewhite;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

img {
	width: 100%;
}

.card-inner {
	display: grid;
	grid-template-columns: (3, 1fr);
	grid-template-rows: 10px, 200px, 30px, 30px, 30px, 30px;
	grid-row-gap: 1px;
	margin: 0 auto;
	justify-content: center;
	background-color: #f1e2b3;
	margin-top: 30px;
	width: 80%;
	max-height: 200vh;
	grid-template-areas:
		". . a"
		". b ."
		". c ."
		". d ."
		". e ."
		". f ."
		"g . h";
}

.about_button{
	float: right; 
	width: 10%;
	margin-right: 1.5em;
	padding: 10px;
}
.exit {
	width: 15%;
	margin-right: 1.5em;
	padding: 10px;
}

.plant {
	grid-area: b;
	grid-column: 2;
	margin-top: -50px;
	padding: 0px 20px 0px;
	width: 50%;
	margin: 0 auto;
}

.name {
	grid-area: c;
	grid-column: 3;
	padding: 0px;
	margin-top: -1em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

.pronounce {
	grid-area: d;
	grid-row: 4;
	padding: 0px;
	font-size: 1em;
	text-align: center;
}

.plant_info {
	grid-area: e;
	grid-column: 2;
	padding: 0 20px;
	font-size: 0.8em;
	width: 100%;
	margin: 0 auto;
}

.video {
	grid-area: f;
	display: flex;
	background-color: black;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	width: 90%;
	justify-content: center;
	vertical-align: middle;
	height: 20vh;
	margin: 0 auto;
}

h3 {
	margin-top: 1em;
}

.r-flip {
	grid-area: g;
	width: 14%;
	margin-left: 17em;
	padding: 5px;
	max-width: 50%;
	object-fit: cover;
}

.l-flip {
	grid-area: h;
	width: 10%;
	padding: 5px;
	margin-left: 1em;
	background-color: #f1e2b3;
	border-color: #f1e2b3;
	max-width: 50%;
	object-fit: cover;
}


/*ABOUT PAGE*/
.title_about {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 4em;
	color: #3a2813; 
}
.logo_agility{
	width: 20%; 
	margin: 0 auto;
	margin-top: -0.7em;
}

.content_about {
	display: grid;
	grid-template-columns: (3, 1fr);
	grid-template-rows: 30px, 400px, 50px, 30px, 30px, 30px;
	padding: 20px;

}

.content_home {
	display: grid;
	grid-template-columns: (3fr);
	padding: 20px;
	text-align: center;
	padding-top: 100px;
}

.what_header {
	grid-area: a;
	grid-column: 1;
	grid-row: 2;
}

.why_header {
	grid-area: b;
	grid-column: 3;
	grid-row: 3;

}

.who_header {
	grid-area: c;
	grid-row: 4;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	padding: 8px;
	flex-direction: row;
	justify-content: space-between;
	background-color: #3a2813;
}

.button_about {
	margin-left: 3em;
}

.button_map {
	margin-right: 3em;
}

.size-20 {
	font-size: 20px;
	color: black;

}
.size-40 {
	font-size: 40px;
	color: antiquewhite;

}

.size-45 {
	font-size: 45px;
	color: antiquewhite;

}
.size-37 {
	font-size: 37px;
	color:  #3a2813; 
}


iframe{
	width:100%; 
}

.hello{
	background-color: #f1e2b3;
	border-color: #f1e2b3; 
	border-width: 0px; 
	width: 10%; 
}

